.back {
  background-image: url("https://images.unsplash.com/photo-1512428559087-560fa5ceab42?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fHNlYXJjaCUyMGVuZ2luZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  height: 540px;
}

.position {
  right: 10%;
  top: -70%;
}

.index {
  z-index: 10;
}

.main-container {
  height: 630px;
}
