#navbar {
  height: 5em;
}

.img-size {
  width: 3em !important;
  height: 3em !important;
}

.canvas-btn {
  margin-left: auto;
}

.sidebar {
  background-color: #f8f9fb !important;
}

#items {
  text-decoration: none !important;
  color: black;
}

#items:hover {
  color: lightseagreen !important;
}

#sidebar:active {
  min-width: 80px;
  max-width: 80px;
  text-align: center;
}
